<div class="container-fluid">
	<h2> Meet Tank!</h2>

	<div> 
		I grew up always having pets around, mostly dogs. When I finally left the nest and moved into my own apartment, I accepted that having a pet was not a good choice until I was fully adjusted. Four and a half months later, I drastically missed having a pet. I spent an evening looking online at the cats available for adoption at the Nebraska Humane Society. The next day I drug my boyfriend along to meet some of the cats. I fell in love with a chubby, fluffy cat named Oscar. The following day, I went back for Oscar and decided to change his name to something more fitting. I can no longer imagine my life without Tank.
	</div>

	<div>
		<img src="assets/home.jpg" class="img-home center-block" alt="">
	</div>
</div>