<div class="container-fluid">	
	<button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
	</button>

	<button type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
	</button>
</div> <br><br>

<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/home.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/catBox.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/couch.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/cuddles.jpg" alt="...">
	    </a>
	  </div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/onChair.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/settled.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/sitting.jpg" alt="...">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="assets/snapCat.jpg" alt="...">
	    </a>
	  </div>
	</div>
