<div class="container-fluid">

	<img src="assets/home.jpg" class="img-home center-block" alt="">
	<img src="assets/catBox.jpg" class="img-home center-block" alt="">
	<img src="assets/couch.jpg" class="img-home center-block" alt="">
	<img src="assets/cuddles.jpg" class="img-home center-block" alt="">
	<img src="assets/onChair.jpg" class="img-home center-block" alt="">
	<img src="assets/settled.jpg" class="img-home center-block" alt="">
	<img src="assets/sitting.jpg" class="img-home center-block" alt="">
	<img src="assets/snapCat.jpg" class="img-home center-block" alt="">
</div>
