.img-home{
	padding:50px;
	height:400px;
}

.thumbnail img{
    width: auto;
    height: 100%;
    display: block;
}

.thumbnail{        
    width: 200px; 
    height: 200px;
    overflow: hidden;
}

