.img-home{
	padding:50px;
	height:400px;
}

.thumbnail img{
	height:100%;
    object-fit: fill;
}

.thumbnail{       
    width: 200px; 
    height: 200px;
    overflow: hidden;
}

#modalImage{
	max-height: 600px;
}

.modal-content{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black !important;
}

.modal-dialog{
	background-color: black;
}